<div class="creator">
  <h3>Simplify your links</h3>
  <form>
    <md-input-container class="long">
      <span mdPrefix>http://&nbsp;</span>
      <input type="url" [(ngModel)]="url" name="url" mdInput placeholder="URL Adress">
    </md-input-container>
    <button md-raised-button (click)="shortURL()">Short URL</button>
    <p>*All URLs are pulibc.</p>
  </form>
</div>

<div class="example-container mat-elevation-z8">

  <md-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="original">
      <md-header-cell *cdkHeaderCellDef> Original URL </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.URL}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="created">
      <md-header-cell *cdkHeaderCellDef> Created </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.created | date}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="short">
      <md-header-cell *cdkHeaderCellDef> Short ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <a target="_blank" [attr.href]="row.short">{{row.short}}</a> </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="clicks">
      <md-header-cell *cdkHeaderCellDef> All clicks <i>(soon || never)</i>  </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.acceses}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="database.data.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25]">
  </md-paginator>
</div>