.creator {
    padding: 10px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.long {
  width: 60%;
}
button {
  margin-left: 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: none;
}