.right {
  padding: 0 14px;
}
.align {
  flex: 1 1 auto;
}
.transparent{
  background-color: transparent !important;
}
a {
    color: white;
    text-decoration: none;
}
md-toolbar {
  overflow: auto;
}